*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.bak
*.ko.cmd
*.mod
*.mod.cmd
.tmp_versions/
Module.symvers
tools/bin2h
os/linux/Makefile

# Allow release prebuilt files
!release/
!release/firmware/
!release/mt7603usta.ko
!release/firmware/mt7603_e2.bin
